body {
    font-family: helvetica, arial, sans serfif;
    line-height: 1.3;
    background-color: whitesmoke;
    color: #555;
    font-size: 12px;
    letter-spacing: .03em;
}
*, :after, :before {
    box-sizing: border-box;
}