$total-columns  : 6;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$medium-columns : 8;
$large-columns  : 12;

.page {
    @include container;
    max-width: 1000px;
}

.ui-element {
    padding: 1.5em;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    margin-bottom: 1em;
    @include cf;
    .label {
        font-weight: bold;
        width: 20%;
        min-width: 100px;
        float: left;
        margin-bottom: 10px;
    }
    .lever {
        width: 80%;
        float: left;
    }
}
.checkboxes, .radiobuttons, .left, .right {
    width: 50%;
    float: left;
    padding: 0 1em;
    margin: 1em 0;
}
.wrapper {
    margin: 1em 0;
    @include cf;
}

.box {
    width: 25%;
    padding: 0 1em;
    float: left;
    margin: 1em 0;
}